<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel=stylesheet href="css/shopFrame.css" type="text/css">
<body>
	<!-- header -->
	<div class="topbar" >
		
			<a class="logo" href="shop_main_form.html"> <img src="css/image/goggle.png" height="10px"></a>
			
			<ul id="header_toolBar">
				<li><a href="shop_main_form.html">Main</a></li>
				<li><a href="">Cart</a></li>
				<li><a href="">Logout</a></li>
				<li><a href="">Login</a></li>
			</ul>
			
	</div>

</body>
</html>
<!-- header -->
